body {
    background-color: rgba(236, 230, 230, 0.213);
    color: #000;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .bgimg-1 {
    background-image: url("https://eg-itkonsult.github.io/Images/EG-IT-Konsult-AB-Logga-1920x1200.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .w3-display-middle {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  @media (max-width: 1024px) {
    .bgimg-1 {
      background-size: contain;
      background-position: center;
      height: 70vh;
    }
  }
  
  @media (max-width: 768px) {
    .bgimg-1 {
      background-size: cover;
      background-position: top;
      height: 60vh;
    }
  }
  
  @media (max-width: 480px) {
    .bgimg-1 {
      background-size: contain;
      background-position: center;
      height: 50vh;
    }
  }

  #contact .w3-row-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #contact .w3-card {
    max-width: 400px; /* Optional: Limit the width of the card */
    margin: 0 auto; /* Center the card horizontally */
  }